body{
    position: relative;
    width: 60%;
    margin: 0px;
    padding: 0px;
}

#background{
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("background.jpg");
    background-size: cover;
}

#river{
    position: relative;
    left: 0px;
    min-height: 1450px;
    background: rgba(0,0,0,0);
    margin: 150px 0px 0px 0px;
}

#river h1{
    transition: all 1s;
    position: relative;
    left: 552px;
    top: -100px;
    font-size: 50pt;
    color: #CCBBFF;
    font-family: sans-serif;
    text-shadow: 5px 2px 10px #000;
}

#river h1:hover{
    transition: all 1s;
    position: relative;
    left: 552px;
    top: -100px;
    font-size: 50pt;
    color: #FFB7DD;
    font-family: sans-serif;
    text-shadow: 5px 2px 10px #000;
}

#trunk{
    position: relative;
    top: -150px;
    left: 712px;
    width: 7px;
    min-height: 2100px;
    background: rgba(0,0,0,0.7);
    margin: 150px 0px 0px 0px;
    border-radius: 50px;
}

#branches4{
    position: absolute;
    top: 60px;
    right: 7px;
    width: 520px;
    min-height: 0.3%;
    background: rgba(0,0,0,0.7);
    margin: 150px 0px 0px 0px;
}

#branches3{
    position: absolute;
    top: 120px;
    left: 7px;
    width: 520px;
    min-height: 0.3%;
    background: rgba(0,0,0,0.7);
    margin: 150px 0px 0px 0px;
}

#branches2{
    position: absolute;
    top: 750px;
    right: 7px;
    width: 520px;
    min-height: 0.3%;
    background: rgba(0,0,0,0.7);
    margin: 150px 0px 0px 0px;
}

#branches1{
    position: absolute;
    top: 650px;
    left: 7px;
    width: 520px;
    min-height: 0.3%;
    background: rgba(0,0,0,0.7);
    margin: 150px 0px 0px 0px;
}

#branches0{
    position: absolute;
    top: 1050px;
    left: 7px;
    width: 520px;
    min-height: 0.3%;
    background: rgba(0,0,0,0.7);
    margin: 150px 0px 0px 0px;
}

#branchestwitter{
    position: absolute;
    top: 1550px;
    right: 7px;
    width: 520px;
    min-height: 0.3%;
    background: rgba(0,0,0,0.7);
    margin: 150px 0px 0px 0px;
}

#follow{
    position: absolute;
    top: 1%;
    left: 1257px;
}

#leftfacebook{
    position: absolute;
    top: 1%;
    left: 100px;
    font-size: 15pt;
    font-family: Microsoft JhengHei;
}

#rightfacebook{
    position: absolute;
    top: 5%;
    left: 823px;
    font-size: 15pt;
    font-family: Microsoft JhengHei;
}

#four{}
#three{}
#two{}
#one{}
#zero{}
#twitter{}
